.wrapper{
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchFieldWrapper{
    background: rgba(255, 255, 255, 0.5);
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.38);
    padding: 60px;
    height: 90%;
}
.headerWhite{
}

.homeImage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
    z-index: -1;
}