.wrapper{
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    height: 100%;
    padding-left: 30vw;
    padding-top: 20px;
    z-index: 2;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.shadow{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

@media (max-width: 900px) {
    .menu{
        padding-right: 100px;
    }
}
@media (max-width: 600px) {
    .menu{
        padding-right: 10px;
    }
}


