.wrapper{
    border: solid 1px black;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px;
}
.wordWrapper{
    display: flex;
    align-items: center;
    gap: 20px
}
.phonetic{
    color: gray;
    margin-bottom: 20px;
}
.meaning{
    color: #4d4545;
}
